.about {
  position: relative;
  margin-top: 13rem;

  @media(max-width: 1200px) {
    margin-top: 3.5rem;
  }

  &__img {
    height: auto;
    width: 90%;
    margin: 2rem 5%;

    @media(max-width: 1200px) {
      width: 80%;
      margin: 2rem 10%;
    }
  }

  &__info {
    margin: 3rem;
    font-size: 1.8rem;
    line-height: 2.8rem;

    @media(max-width: 1200px) {
      text-align: center;
    }
  }

  &__reviews {
    margin: 2rem;
    font-size: 1.8rem;
    line-height: 2.8rem;
    text-align: center;
    background: #ededed;
    padding: 2rem;
    border-radius: 5px;

    &__author {
      font-size: 2.2rem;
    }

    @media(max-width: 1200px) {
      text-align: center;
    }
  }
}