.about {
  position: relative;
  display: flex;
  margin-top: 13rem;

  @media(max-width: 1200px) {
    flex-direction: column;
    margin-top: 3.5rem;
  }

  &__img {
    height: auto;
    width: 90%;
    margin: 3rem;

    @media(max-width: 1200px) {
      width: 80%;
    }
  }

  &__info {
    margin: 3rem;
    font-size: 1.8rem;
    line-height: 2.8rem;

    @media(max-width: 1200px) {
      text-align: center;
    }
  }

  &__reviews {
    margin: 3rem;
    font-size: 1.8rem;
    line-height: 2.8rem;
    text-align: right;

    &__author {
      font-size: 2.2rem;
    }

    @media(max-width: 1200px) {
      text-align: center;
    }
  }
}

.col {
  width: 33.3%;

  @media(max-width: 1200px) {
    width: 100%;
  }
}

.social {
  position: fixed;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);

  i {
    color: $font-color; 
    margin: 1rem;

    &:hover {
      color: black;
    }
  }

  @media(max-width: 1200px) {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
  }
}