@keyframes dropdown {
  0% {
    opacity: 0;
    padding-top: 3rem;
  }
  100% {
    opacity: 1;
    padding-top: 7.4rem;
  }
}

@keyframes dropdown-scroll {
  0% {
    opacity: 0;
    padding-top: 3rem;
  }

  100% {
    opacity: 1;
    padding-top: 4.9rem;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes rotation {
  100% { transform: rotate(360deg); }
}