.booking {
  margin-top: 12rem;

  &__card {
    margin: 1rem;
    padding: 1rem 2rem;
    border: 1px solid $font-color;
    border-radius: 5px;
    height: 30vh;

    &--list {
      list-style: none;
      text-transform: lowercase;
      font-size: 2rem;
    }
  }
}