.booking {
  padding: 13rem 8rem 2rem 8rem;

  @media(max-width: 800px) {
    padding: 4rem 1rem 2rem 1rem;
  }

  &__p {
    font-size: 2rem;
    text-transform: lowercase;
    letter-spacing: 0.3rem;

    a:hover {
      text-decoration: none;
    }
  }

  &__popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0; 
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10;

    @supports(-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(0, 0, 0, .3);
    }

    i {
      position: absolute;
      top: 5%;
      right: 3.5%;
      cursor: pointer;

      @media(max-width: 800px) {
        top: 2%;
        font-size: 1.6rem;
      }
    }

    &--1,
    &--2,
    &--3,
    &--4, 
    &--5, 
    &--6 {
      visibility: hidden;
    }

    &__content {
      position: absolute;
      top: 55%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 75%;
      width: 75%;
      background-color: white;
      box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
      display: table;
      overflow: hidden;

      @media(max-width: 800px) {
        height: 90%;
        width: 90%;
        margin-top: -2.5rem;
      }

      &--title {
        padding-left: 2rem;
        font-family: Lato;
        font-weight: 700;
        font-size: 7rem;
        text-transform: lowercase;

        @media(max-width: 1200px) {
          font-size: 5rem;
        }

        @media(max-width: 800px) {
          font-size: 3rem;
          padding-left: 1.4rem;
          margin-top: 1rem;
        }
      }

      &--subtitle {
        padding-left: 2rem;
        font-size: 5rem;
        margin-top: -0.8rem;
        letter-spacing: 1rem;

        @media(max-width: 1200px) {
          font-size: 3rem;
        }

        @media(max-width: 800px) {
          font-size: 2rem;
          padding-left: 1.4rem;
          margin-top: 0;
        }
      }

      &--price {
        font-family: 'Lato', sans-serif;
        font-size: 8rem;
        position: absolute;
        top: 18%; 
        right: 3%;

        @media(max-width: 1200px) {
          font-size: 4rem;
        }

        @media(max-width: 800px) {
          font-size: 2rem;
          top: 20%;
        }
      }

      &--description {
        background-color: $forest-brown;
        height: 60%;
        width: 100%;
        position: absolute;
        bottom: 0;
        color: white;
        padding: 1rem;

        @media(max-width: 1200px) {
          height: 67%;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          padding-bottom: 7rem;
        }

        @media(max-width: 800px) {
          height: 70%;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          padding: .5rem .5rem 7rem .5rem;
        }

        p {
          margin: 3rem 1rem 0rem 1rem;
          font-size: 2rem;
          line-height: 3.5rem;
          letter-spacing: .2rem;
          text-transform: lowercase;
          text-align: right;

          @media(max-width: 1200px) {
            font-size: 1.8rem;
            line-height: 1.8rem;
            letter-spacing: .15rem;
            text-align: center;
          }

          @media(max-width: 800px) {
            margin: 0;
            font-size: 1.6rem;
            line-height: 1.6rem;
            letter-spacing: .1rem;
            text-align: center;
          }
        }

        li {
          margin: 2rem 1rem 0rem 1rem;
          list-style: bullet;
          font-size: 2rem;
          letter-spacing: .2rem;
          text-transform: lowercase;

          @media(max-width: 1200px) {
            margin: 1rem auto;
            font-size: 1.8rem;
            line-height: 1.8rem;
            letter-spacing: .15rem;
            text-align: center;
            list-style: none;
          }

          @media(max-width: 800px) {
            margin: .5rem auto;
            font-size: 1.6rem;
            line-height: 1.6rem;
            letter-spacing: .1rem;
            text-align: center;
            list-style: none;
          }
        }
      }

      &--btn {
        &,
        &:link,
        &:visited {
          text-transform: uppercase;
          text-decoration: none;
          letter-spacing: 0.3rem;
          padding: 1.5rem 4rem;
          width: 50%;
          margin: 1rem auto;
          display: inline-block;
          font-family: 'Lato';
          font-weight: bold;
          background-color: white;
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
          border-radius: 10rem;
          transition: .2s;
          font-size: 1.6rem;
          border: none;
          cursor: pointer;
          position: absolute;
          left: 25%;
          margin-top: 1rem;
          text-align: center;
          color: black;
 
          @media(max-width: 800px) {
            padding: 1rem 2.5rem;
            width: 70%;
            opacity: 1;
            left: 15%;
            font-size: 1.4rem;
            letter-spacing: .2rem;
          }
      
          &:hover {
            transform: translateY(-2px);
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
          }
      
          &:active {
            transform: translateY(2px);
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
          }
      
          &:focus {
            outline: none;
          }
        }
      }
    }
  }

  &__card {
    margin: 1rem;
    position: relative;
    padding: 0 2rem;
    height: 38vh;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    animation: 3s fade forwards;

    &--1 {
      background-image: url('/img/booking1.jpg');
      filter: grayscale(20%);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    &--2 {
      background-image: url('/img/booking2.jpg');
      filter: grayscale(20%);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    &--3 {
      background-image: url('/img/booking3.jpg');
      filter: grayscale(20%);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    &--4 {
      background-image: url('/img/booking4.jpg');
      filter: grayscale(20%);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    &--5 {
      background-image: url('/img/booking5.jpg');
      filter: grayscale(20%);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    &--6 {
      background-image: url('/img/booking6.jpg');
      filter: grayscale(20%);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &--title {
      padding-top: 1rem;
      font-family: 'Lato';
      font-weight: 700;
      font-size: 5rem;
      color: white;
      text-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

      @media(max-width: 800px) {
        font-size: 3rem;
      }
    }

    &--subtitle {
      font-size: 3rem;
      margin-top: -0.8rem;
      letter-spacing: 0.8rem;
      color: white;
      text-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

      @media(max-width: 800px) {
        font-size: 2rem;
        letter-spacing: .5rem;
      }
    }

    &--btn {

      &,
      &:link,
      &:visited {
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 0.3rem;
        padding: 1.5rem 4rem;
        width: 50%;
        margin: 0 auto;
        display: inline-block;
        font-family: 'Lato';
        font-weight: bold;
        background-color: white;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
        border-radius: 10rem;
        transition: all .2s;
        position: relative;
        font-size: 1.6rem;
        border: none;
        cursor: pointer;
        position: absolute;
        top: 70%;
        left: 25%;
        opacity: 0;
    
        &:hover {
          transform: translateY(-2px);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
        }
    
        &:active {
          transform: translateY(2px);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
        }
    
        &:focus {
          outline: none;
        }

        @media(max-width: 800px) {
          padding: 1rem 2.5rem;
          width: 70%;
          opacity: 1;
          left: 15%;
          font-size: 1.4rem;
          letter-spacing: .2rem;
        }
      }
    }

    &:hover .booking__card--btn {
      opacity: 1;
    }
  }
}