.gallery {
  margin-top: 13rem;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  animation: 1s fade forwards;

  .gallery__img {
    width: 100%;
    margin: 2rem auto;

    img {
      width: 100%;
    }
  }

  @media(max-width: 1200px) {
    margin-top: 3.5rem;
  }
}