.nav {
  width: 100%;
  height: 12rem;
  display: flex;
  position: fixed;
  top: 0;
  background-color: white;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  z-index: 100;
  transition: 0.3s;

  @media (max-width: 800px) {
    display: none;
  }

  &__brand {
    height: 100%;
    padding-left: 2rem;
  }

  &__right {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2rem;

    &--dropdown {
      display: flex;
      flex-direction: column;
      align-items: center;

      &:hover {
        cursor: pointer;
      }

      &:hover .nav__right--dropdown-list {
        display: block;
        animation: 0.3s dropdown forwards;
      }

      span {
        font-size: 1.5rem;
      }

      &-list {
        display: none;
        position: absolute;

        &--item {
          list-style: none;
          padding: 1rem 2rem;
          background-color: #f2f2f2;
          transition: 0.3s;
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);

          &:nth-of-type(even) {
            background-color: white;
          }

          &:hover {
            background-color: $font-color;

            a {
              color: white;
            }
          }
        }
      }
    }

    &--item {
      font-size: 2rem;
      list-style: none;
      padding: 2rem;
      letter-spacing: 0.8rem;
      text-transform: lowercase;

      & a {
        color: $font-color;

        &:hover,
        &:active,
        &:focus {
          text-decoration: none;
        }
      }
    }
  }
}

.nav--collapsed {
  width: 100%;
  height: 5rem;
  display: none;
  position: fixed;
  top: 0;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  z-index: 1;

  @media (max-width: 800px) {
    display: flex;
  }

  &__brand {
    height: 100%;
    padding-left: 0.5rem;
  }

  &__menu {
    padding-right: 1.5rem;
  }

  &__x { 
    padding-right: 1.5rem;
    display: none;
  }

  &__dropdown {
    z-index: -1;
    background-color: white;
    position: absolute;
    top: 0;
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    &--drop {
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;

      &--list {
        display: none;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        transition: 0.3s;

        &--item {
          list-style: none;
          padding: 1rem 2rem;
          transition: 0.5s;

          &:hover {
            background-color: black;
            color: white;

            a {
              color: white;
            }
          }
        }
      }
    }

    &--item {
      list-style: none;
      padding: 1rem 2rem;
      margin: 1rem;
      text-transform: lowercase;
      font-size: 2rem;
      transition: 0.5s;

      &:hover:not(.nav--collapsed__dropdown--drop) {
        background-color: black;
        color: white;

        a {
          color: white;
        }
      }

      & a,
      & a:focus,
      & a:active {
        text-decoration: none;
        color: $font-color;
      }
    }
  }
}