<% include partials/header %>

<div class="container">
  <div class="about">
    <h2 class="text-center about__title">About Me</h2>
    <div class="about__div">
      <img class="about__img" src="img/about.jpg" alt="Ariana Roach">
      <p class="about__p">Lorem ipsum dolor sit amet consectetur 
        adipisicing elit. Sunt voluptatum sequi exercitationem ab 
        explicabo tenetur, repudiandae pariatur quo rerum, voluptatem 
        sint sapiente. Adipisci enim cumque quos iusto porro rem 
        excepturi? Lorem ipsum dolor sit amet consectetur 
        adipisicing elit. Sunt voluptatum sequi exercitationem ab 
        explicabo tenetur, repudiandae pariatur quo rerum, voluptatem 
        sint sapiente. Adipisci enim cumque quos iusto porro rem 
        excepturi? Lorem ipsum dolor sit amet consectetur 
        adipisicing elit. Sunt voluptatum sequi exercitationem ab 
        explicabo tenetur, repudiandae pariatur quo rerum, voluptatem 
        sint sapiente. Adipisci enim cumque quos iusto porro rem 
        excepturi?</p>
    </div>
  </div>
</div>

<% include partials/footer %>