<% include partials/header %>

<div class="about">
  <div class="col">
    <img src="img/about.jpg" alt="About" class="about__img">
  </div>
  <div class="col">
    <div class="about__info">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Sint laborum voluptatem at consectetur labore maiores, 
        modi, praesentium sapiente corporis voluptatum ipsam id 
        adipisci esse ullam laboriosam, atque quis quo magni.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Sint laborum voluptatem at consectetur labore maiores, 
        modi, praesentium sapiente corporis voluptatum ipsam id 
        adipisci esse ullam laboriosam, atque quis quo magni.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Sint laborum voluptatem at consectetur labore maiores, 
        modi, praesentium sapiente corporis voluptatum ipsam id 
        adipisci esse ullam laboriosam, atque quis quo magni.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Sint laborum voluptatem at consectetur labore maiores, 
        modi, praesentium sapiente corporis voluptatum ipsam id 
        adipisci esse ullam laboriosam, atque quis quo magni.</p>
    </div>
  </div>
  <div class="col">
    <div class="about__reviews">
      <p>"The photos captured the 
        essence of my family, I feel so happy to have found 
        her, we will most definitely be doing it again! Thank 
        you so much Ariana! You are wonderful!"
      </p>
      <p class="about__reviews__author">- Olga</p>
      <p>"She was fun and clever with her ideas of where to shoot. 
        Our photos turned out really well! We are more than 
        happy with her work! Everyone else loves them too"
      </p>
      <p class="about__reviews__author">- Crystal</p>
      <p>" I will definitely use her again. I can’t wait to see 
        our photos! It was a good experience overall. I’m 
        surprised she was so good with so many twists and turns 
        on our end, but she went with the punches and in the end 
        made it possible to do our shoot!"
      </p>
      <p class="about__reviews__author">- Alicia</p>
    </div>
  </div>
</div>
<div class="social text-center">
  <a href="https://www.facebook.com/arianaroachphotography/" target="_blank"><i class="fab fa-facebook-square fa-3x"></i></a>
  <a href="https://www.instagram.com/arianaroachphotography/" target="_blank"><i class="fab fa-instagram fa-3x"></i></i></a>
</div>

<% include partials/footer %>