<% include partials/header %>

<div class="about">
  <div class="col-md-4">
    <img src="img/about.jpg" alt="About" class="about__img">
  </div>
  <div class="col-md-8">
    <div class="about__info">
      <p>Does the idea of posing in a stuffy photography studio 
        already make you feel uncomfortable?</p>
      <p>Don’t worry, you’re not alone. 
          Getting the same studio photos taken every year can 
          feel awkward and mundane. They may look professional, 
          but they don’t capture who you are.</p>
      <p>I'm a family, engagement, wedding and lifestyle 
        photographer located in Vancouver, British Columbia, 
        and I’m here to put an end to boring holiday photos!</p>
      <p>Photography became a huge part of my life when I 
        first moved to Vancouver and felt a bit lost. As a 
        firm believer in the power of human-connection, being 
        able to capture the moments where others feel most 
        connected is almost magical. </p>
      <p>I find that photos tend to work out better when everyone 
        feels comfortable. Therefore, a big goal of mine is to 
        break down the photographer/client dynamic. Instead, I 
        want to learn about people and form relationships with 
        them.</p>
      <p>Photography is more than a hobby, for me. It’s an outlet 
        of creative expression, a way for me to bring my 
        imagination to life.</p>
      <p>Whether it be a family picnic or an engagement shoot in 
        the mountains, I am excited to bring you memories that 
        you can cherish for a lifetime.</p>
    </div>
  </div>
  <div class="col-md-12">
    <div class="about__reviews">
      <p>"The photos captured the 
        essence of my family, I feel so happy to have found 
        her, we will most definitely be doing it again! Thank 
        you so much Ariana! You are wonderful!"
      </p>
      <p class="about__reviews__author">- Olga</p>
      <p>"She was fun and clever with her ideas of where to shoot. 
        Our photos turned out really well! We are more than 
        happy with her work! Everyone else loves them too"
      </p>
      <p class="about__reviews__author">- Crystal</p>
      <p>" I will definitely use her again. I can’t wait to see 
        our photos! It was a good experience overall. I’m 
        surprised she was so good with so many twists and turns 
        on our end, but she went with the punches and in the end 
        made it possible to do our shoot!"
      </p>
      <p class="about__reviews__author">- Alicia</p>
    </div>
  </div>
</div>

<% include partials/footer %>