<% include partials/header %>

<div class="booking">
  <div class="container">
    <div class="col-md-4">
      <div class="booking__card text-center">
        <h1 class="booking__card--title">Family Session</h1>
        <hr>
        <ul class="booking__card--list">
          <li>Some info here</li>
          <li>Some info here</li>
          <li>Some info here</li>
        </ul>
      </div>
    </div>
    <div class="col-md-4">
      <div class="booking__card text-center">
        <h1 class="booking__card--title">Mini Family Session</h1>
        <hr>
        <ul class="booking__card--list">
          <li>Some info here</li>
          <li>Some info here</li>
          <li>Some info here</li>
        </ul>
      </div>
    </div>
    <div class="col-md-4">
      <div class="booking__card text-center">
        <h1 class="booking__card--title">Mini Kids Session</h1>
        <hr>
        <ul class="booking__card--list">
          <li>Some info here</li>
          <li>Some info here</li>
          <li>Some info here</li>
        </ul>
      </div>
    </div>
    <div class="col-md-4">
      <div class="booking__card text-center">
        <h1 class="booking__card--title">Couples Session</h1>
        <hr>
        <ul class="booking__card--list">
          <li>Some info here</li>
          <li>Some info here</li>
          <li>Some info here</li>
        </ul>
      </div>
    </div>
    <div class="col-md-4">
      <div class="booking__card text-center">
        <h1 class="booking__card--title">Couples Session</h1>
        <hr>
        <ul class="booking__card--list">
          <li>Some info here</li>
          <li>Some info here</li>
          <li>Some info here</li>
        </ul>
      </div>
    </div>
    <div class="col-md-4">
      <div class="booking__card text-center">
        <h1 class="booking__card--title">Portrait Session</h1>
        <hr>
        <ul class="booking__card--list">
          <li>Some info here</li>
          <li>Some info here</li>
          <li>Some info here</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<% include partials/footer %>