<% include partials/header %>

<div class="booking">
  <div class="col-md-4">
    <div class="booking__card booking__card--1">
      <h1 class="booking__card--title">family portraits</h1>
      <h3 class="booking__card--subtitle">on location</h3>
      <button class="booking__card--btn" id="booking-btn-1">Book Now</button>
    </div>
  </div>
  <div class="col-md-4">
    <div class="booking__card booking__card--2">
      <h1 class="booking__card--title">family portraits</h1>
      <h3 class="booking__card--subtitle">at home</h3>
      <button class="booking__card--btn" id="booking-btn-2">Book Now</button>
    </div>
  </div>
  <div class="col-md-4">
    <div class="booking__card booking__card--3">
      <h1 class="booking__card--title">kids mini session</h1>
      <h3 class="booking__card--subtitle">within vancouver</h3>
      <button class="booking__card--btn" id="booking-btn-3">Book Now</button>
    </div>
  </div>
  <div class="col-md-4">
    <div class="booking__card booking__card--4">
      <h1 class="booking__card--title">teen/adult portrait session</h1>
      <h3 class="booking__card--subtitle">within vancouver</h3>
      <button class="booking__card--btn" id="booking-btn-4">Book Now</button>
    </div>
  </div>
  <div class="col-md-4">
    <div class="booking__card booking__card--5">
      <h1 class="booking__card--title">couples & engagements</h1>
      <h3 class="booking__card--subtitle">on location</h3>
      <button class="booking__card--btn" id="booking-btn-5">Book Now</button>
    </div>
  </div>
  <div class="col-md-4">
    <div class="booking__card booking__card--6">
      <h1 class="booking__card--title">couples & engagements</h1>
      <h3 class="booking__card--subtitle">within vancouver</h3>
      <button class="booking__card--btn" id="booking-btn-6">Book Now</button>
    </div>
  </div>
  <p class="text-center booking__p">
    Looking for something more specific? <a href="/contact">Contact me</a>
  </p>
  <div class="booking__popup booking__popup--1" id="booking-popup-1">
    <div class="booking__popup__content">
      <h1 class="booking__popup__content--title">
        family portrait session
      </h1>
      <h3 class="booking__popup__content--subtitle">
        on location
      </h3>
      <i class="fas fa-times fa-2x" id="booking-x-1"></i>
      <div class="booking__popup__content--description">
        <div class="col-md-6">
          <p>
            On-location sessions are perfect for nature lovers or 
            adventure-seekers. Currently, sessions can take place 
            anywhere within Vancouver. Once in contact, we will 
            work together to find the perfect location for yourself 
            and your family.
          </p>
        </div>
        <div class="col-md-6">
          <h3 class="text-center">
            What's included?
          </h3>
          <ul class="text-center">
            <li>Pre-consultation in person or over phone (optional).</li>
            <li>60-minute session.</li>
            <li>25+ enhanced images presented in an online gallery.</li>
          </ul>
        </div>
        <div class="col-md-12">
          <button class="booking__popup__content--btn">Book Now</button>
        </div>
      </div>
    </div>
  </div>
  <div class="booking__popup booking__popup--2" id="booking-popup-2">
    <div class="booking__popup__content">
      <h1 class="booking__popup__content--title">
        family portrait session
      </h1>
      <h3 class="booking__popup__content--subtitle">
        at home
      </h3>
      <i class="fas fa-times fa-2x" id="booking-x-2"></i>
      <div class="booking__popup__content--description">
        <div class="col-md-6">
          <p>
            At-home sessions were created to provide your family with 
            the most comfortable photo experience possible. By 
            capturing your family in their most natural environment, 
            I hope to bring you not only photos but memories that will 
            be cherished for a lifetime.
          </p>
        </div>
        <div class="col-md-6">
          <h3 class="text-center">
            What's included?
          </h3>
          <ul class="text-center">
            <li>Pre-consultation in person or over phone (optional).</li>
            <li>60-minute session.</li>
            <li>25+ enhanced images presented in an online gallery.</li>
          </ul>
        </div>
        <div class="col-md-12">
          <button class="booking__popup__content--btn">Book Now</button>
        </div>
      </div>
    </div>
  </div>
  <div class="booking__popup booking__popup--3" id="booking-popup-3">
    <div class="booking__popup__content">
      <h1 class="booking__popup__content--title">
        kids mini session
      </h1>
      <h3 class="booking__popup__content--subtitle">
        within vancouver
      </h3>
      <i class="fas fa-times fa-2x" id="booking-x-3"></i>
      <div class="booking__popup__content--description">
        <div class="col-md-6">
          <p>
            One day they're a newborn, the next they're entering high 
            school. Help capture the in-betweens by booking a kid-mini 
            session. Photos can be used for scrapbooking, head-shots, 
            cards, etc.
          </p>
        </div>
        <div class="col-md-6">
          <h3 class="text-center">
            What's included?
          </h3>
          <ul class="text-center">
            <li>Pre-consultation in person or over phone (optional).</li>
            <li>30-45 minute session.</li>
            <li>15+ enhanced images presented in an online gallery.</li>
            <li>Price includes one child, additional children: $10/child.</li>
          </ul>
        </div>
        <div class="col-md-12">
          <button class="booking__popup__content--btn">Book Now</button>
        </div>
      </div>
    </div>
  </div>
  <div class="booking__popup booking__popup--4" id="booking-popup-4">
    <div class="booking__popup__content">
      <h1 class="booking__popup__content--title">
        teen/adult portrait session
      </h1>
      <h3 class="booking__popup__content--subtitle">
        within vancouver
      </h3>
      <i class="fas fa-times fa-2x" id="booking-x-4"></i>
      <div class="booking__popup__content--description">
        <div class="col-md-6">
          <p>
            Are you in need of fresh photos? Whether that be for senior 
            year portraits, headshots or personal use? I can provide you 
            with crisp and elegant imagery that will last for years to come.
            I'd love to capture who you are as an individual within your 
            best light.
          </p>
        </div>
        <div class="col-md-6">
          <h3 class="text-center">
            What's included?
          </h3>
          <ul class="text-center">
            <li>Pre-consultation in person or over phone (optional).</li>
            <li>60-minute session.</li>
            <li>20+ enhanced images presented in an online gallery.</li>
          </ul>
        </div>
        <div class="col-md-12">
          <button class="booking__popup__content--btn">Book Now</button>
        </div>
      </div>
    </div>
  </div>
  <div class="booking__popup booking__popup--5" id="booking-popup-5">
    <div class="booking__popup__content">
      <h1 class="booking__popup__content--title">
        couples & engagement session
      </h1>
      <h3 class="booking__popup__content--subtitle">
        on location
      </h3>
      <i class="fas fa-times fa-2x" id="booking-x-5"></i>
      <div class="booking__popup__content--description">
        <div class="col-md-6">
          <p>
            Looking to get a little more out of your engagement photos? 
            Whether that be climbing to the top of a mountain, visiting 
            a beautiful lake or basking on the island, I will accompany 
            as your personal photographer for whatever adventure your 
            hearts desire.
          </p>
        </div>
        <div class="col-md-6">
          <h3 class="text-center">
            What's included?
          </h3>
          <ul class="text-center">
            <li>Pre-consultation in person or over phone (required).</li>
            <li>30+ enhanced images presented in an online gallery.</li>
            <li>Session length varies.</li>
            <li>Pricing varies. Reach out for more information.</li>
          </ul>
        </div>
        <div class="col-md-12">
          <button class="booking__popup__content--btn">Book Now</button>
        </div>
      </div>
    </div>
  </div>
  <div class="booking__popup booking__popup--6" id="booking-popup-6">
    <div class="booking__popup__content">
      <h1 class="booking__popup__content--title">
        couples & engagement session
      </h1>
      <h3 class="booking__popup__content--subtitle">
        in vancouver
      </h3>
      <i class="fas fa-times fa-2x" id="booking-x-6"></i>
      <div class="booking__popup__content--description">
        <div class="col-md-6">
          <p>
            This section is missing!!!
          </p>
        </div>
        <div class="col-md-6">
          <h3 class="text-center">
            What's included?
          </h3>
          <ul class="text-center">
            <li>Pre-consultation in person or over phone (optional).</li>
            <li>60-90 minute session.</li>
            <li>20+ enhanced images presented in an online gallery.</li>
          </ul>
        </div>
        <div class="col-md-12">
          <button class="booking__popup__content--btn">Book Now</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="js/booking.js"></script>

<% include partials/footer %>