<% include partials/header %>

<div class="container">
  <div class="booking">
    <h2>Booking</h2>
    <div class="booking-cards">
      <div class="booking-card">
        <h4 class="booking-card__header">
          Family Shoot
        </h4>
        <p class="booking-card__description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Repellat eveniet dolorem cum. Fugiat perspiciatis, 
          commodi aperiam molestias inventore, quidem quod 
          obcaecati eveniet vero quam aliquam impedit iste 
          mollitia similique beatae?
        </p>
        <button class="booking-card__btn">
          Book Now!
        </button>
      </div>
      <div class="booking-card">
        <h4 class="booking-card__header">
          Couple Shoot
        </h4>
        <p class="booking-card__description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Repellat eveniet dolorem cum. Fugiat perspiciatis, 
          commodi aperiam molestias inventore, quidem quod 
          obcaecati eveniet vero quam aliquam impedit iste 
          mollitia similique beatae?
        </p>
        <button class="booking-card__btn">
          Book Now!
        </button>
      </div>
    </div>
  </div>
</div>

<% include partials/footer %>