<% include partials/header %>

<div class="contact">
  <div class="col-md-4 col-md-offset-4">
    <% if(message && message.length > 0) { %>
      <div class="contact__alert alert alert-success text-center" role="alert">
        <%= message %>
      </div>
    <% } %>
  </div>
  <form action="/contact" method="POST" id="contact">
    <div class="contact__well">
      <h3 class="contact__title text-center">
        contact me
      </h3>
      <input type="text" class="contact__textbox" 
      name="name" placeholder="Name" required>
      <input type="email" class="contact__textbox" 
      name="email" placeholder="Email" required>
      <input type="text" class="contact__textbox"
      name="subject" placeholder="Subject" required>
      <textarea type="text" class="contact__textbox"
      name="message" placeholder="Message" rows="3" required></textarea>
      <button class="contact__button" id="btn"><div class="loader"></div>Submit</button>
    </div>
  </form>
</div>

<% include partials/footer %>