<% include partials/header %>

<div class="container">
  <div class="gallery">
    <% if(images) { %>
      <% images.forEach((image) => { %>
        <% if(image.page == 'couples') { %>
          <div class="col-md-6">
            <div class="gallery__img">
              <a href="<%= image.src %>" data-lightbox="couples"><img src="<%= image.src %>" alt="<%= image.description %>"></a>
            </div>
          </div>
        <% } %>
      <% }); %>
    <% } else { %>
      <h1>Coming soon!</h1>
    <% } %>
  </div>
</div>

<% include partials/footer %>