<% include partials/header %>

<div class="container">
  <div class="creative">
    <h2>Creative</h2>
    <div class="creative-grid">
      <div class="creative-grid__item creative-grid__item--1">
        <img src="img/creative-1.jpg" alt="Creative 1" class="creative-grid__img">
      </div>
      <div class="creative-grid__item creative-grid__item--2">
        <img src="img/creative-2.jpg" alt="Creative 2" class="creative-grid__img">
      </div>
      <div class="creative-grid__item creative-grid__item--3">
        <img src="img/creative-3.jpg" alt="Creative 3" class="creative-grid__img">
      </div>
      <div class="creative-grid__item creative-grid__item--4">
        <img src="img/creative-4.jpg" alt="Creative 4" class="creative-grid__img">
      </div>
      <div class="creative-grid__item creative-grid__item--5">
        <img src="img/creative-5.jpg" alt="Creative 5" class="creative-grid__img">
      </div>
      <div class="creative-grid__item creative-grid__item--6">
        <img src="img/creative-6.jpg" alt="Creative 6" class="creative-grid__img">
      </div>
    </div>
  </div>
</div>

<% include partials/footer %>