<% include partials/header %>

<div class="container">
  <div class="family">
    <h2>Family</h2>
    <div class="family-grid">
      <div class="family-grid__item family-grid__item--1">
        <img src="img/family-1.jpg" alt="Family 1" class="family-grid__img">
      </div>
      <div class="family-grid__item family-grid__item--2">
        <img src="img/family-2.jpg" alt="Family 2" class="family-grid__img">
      </div>
      <div class="family-grid__item family-grid__item--3">
        <img src="img/family-3.jpg" alt="Family 3" class="family-grid__img">
      </div>
      <div class="family-grid__item family-grid__item--4">
        <img src="img/family-4.jpg" alt="Family 4" class="family-grid__img">
      </div>
      <div class="family-grid__item family-grid__item--5">
        <img src="img/family-5.jpg" alt="Family 5" class="family-grid__img">
      </div>
      <div class="family-grid__item family-grid__item--6">
        <img src="img/family-6.jpg" alt="Family 6" class="family-grid__img">
      </div>
    </div>
  </div>
</div>

<% include partials/footer %>