<% include partials/header %>

<div class="container">
  <div class="gallery">
    <div class="col-md-6">
      <div class="gallery__img">
        <img src="img/family2.jpg" alt="family 1">
      </div>
    </div>
    <div class="col-md-6">
      <div class="gallery__img">
        <img src="img/family5.jpg" alt="family 2">
      </div>
    </div>
    <div class="col-md-6">
      <div class="gallery__img">
        <img src="img/family8.jpg" alt="family 3">
      </div>
    </div>
    <div class="col-md-6">
      <div class="gallery__img">
        <img src="img/family9.jpg" alt="family 4">
      </div>
    </div>
    <div class="col-md-6">
      <div class="gallery__img">
        <img src="img/family10.jpg" alt="family 5">
      </div>
    </div>
    <div class="col-md-6">
      <div class="gallery__img">
        <img src="img/family11.jpg" alt="family 6">
      </div>
    </div>
    <div class="col-md-6">
      <div class="gallery__img">
        <img src="img/family1.jpg" alt="family 7">
      </div>
    </div>
    <div class="col-md-6">
      <div class="gallery__img">
        <img src="img/family3.jpg" alt="family 8">
      </div>
    </div>
    <div class="col-md-6">
      <div class="gallery__img">
        <img src="img/family6.jpg" alt="family 9">
      </div>
    </div>
    <div class="col-md-6">
      <div class="gallery__img">
        <img src="img/family4.jpg" alt="family 10">
      </div>
    </div>
    <div class="col-md-6">
      <div class="gallery__img">
        <img src="img/family7.jpg" alt="family 11">
      </div>
    </div>
  </div>
</div>

<% include partials/footer %>