<% include partials/header %>

<div class="container">
  <div class="nature">
    <h2>Nature</h2>
    <div class="nature-grid">
      <div class="nature-grid__item nature-grid__item--1">
        <img src="img/nature-1.jpg" alt="Nature 1" class="nature-grid__img">
      </div>
      <div class="nature-grid__item nature-grid__item--2">
        <img src="img/nature-2.jpg" alt="Nature 2" class="nature-grid__img">
      </div>
      <div class="nature-grid__item nature-grid__item--3">
        <img src="img/nature-3.jpg" alt="Nature 3" class="nature-grid__img">
      </div>
      <div class="nature-grid__item nature-grid__item--4">
        <img src="img/nature-4.jpg" alt="Nature 4" class="nature-grid__img">
      </div>
      <div class="nature-grid__item nature-grid__item--5">
        <img src="img/nature-5.jpg" alt="Nature 5" class="nature-grid__img">
      </div>
    </div>
  </div>
</div>

<% include partials/footer %>