<% include partials/header %>

<div class="container">
  <div class="gallery">
    <div class="col-md-6">
      <div class="gallery__img">
        <img src="img/portrait1.jpg" alt="Portrait 1">
      </div>
    </div>
    <div class="col-md-6">
      <div class="gallery__img">
        <img src="img/portrait2.jpg" alt="Portrait 2">
      </div>
    </div>
    <div class="col-md-6">
      <div class="gallery__img">
        <img src="img/portrait3.jpg" alt="Portrait 3">
      </div>
    </div>
    <div class="col-md-6">
      <div class="gallery__img">
        <img src="img/portrait4.jpg" alt="Portrait 4">
      </div>
    </div>
  </div>
</div>

<% include partials/footer %>